.heading{
  font-weight: lighter;
  padding: 20px;
}
/* .left-container{
  /* background-color: yellow; */

  /* border-bottom: 1px solid grey; */
 /* height: auto; */
 /* margin-right: 10px;
 height: 0px;
} */

.right-container{
 background-color: white;
    /* border: 2px solid grey; */
 /* height: auto; */
}
.user{
  font-weight: lighter;
  padding: 20px;
}
.input-element{
  padding: 10px;
}
.submit-button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
  background-color: white;
}
.home{
  /* height: 100vh; */
  padding-bottom: 300px;
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
