.a1{
padding-top: 90px;
height: 100vh;
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.a2{
  padding: 30px !important;
  background-color: white;
}

.a3{
  font-weight:  lighter;
}
.h1{
  margin:  0px 0px 0px 0px;
}
.container{
  padding: 0px 0px 0px 0px;
}
 /* .a6{

   height: 50vh;

 }
.a7{


} */
.col-md-6{
  padding: 0px 0px 0px 0px;
}
.col-md-12{
    padding: 0px 0px 0px 0px;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.a8{
 font-weight: 800;
padding-bottom: 30px;
}
/* .a9{
  height: 40px;
  border-radius: 20px;
  margin: 5px;
    width: 250px;
    background-color: #f5f5f5;
} */
.a10{
  width: 100%;
  /* color: white !important; */
 /* background-color: #6442E0 !important; */
  height: 40px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
}
.input{
  line-height: 0px;
  border: 0px solid black;

}
